<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<h1>Today is <%= kindOfDay %></h1>

<ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>

    <% for (let i = 0; i < newItems.length ; i++) { %>
        <li><%= newItems[i] %></li>
    <% } %>


</ul>
<form action="/" method="post">
    <label id="newListItem">Please add a new list item</label>
    <input id="newListItem" type="text" name="newListItem" placeholder="clean up the home">
    <button type="submit" name="button">Add a new item</button>
</form>
</body>
</html>